<section id="about" class="about">
    <div class="container aos-init" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            We are a team of talent individuals coming together after entering a hackathon
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>Across many lands in the world</li>
            <li><i class="ri-check-double-line"></i> All with amazing skillsets and ideas</li>
            <li><i class="ri-check-double-line"></i> Its astounding what we can build together</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            As a team we come tother to build something that will last past our lifetimes and a place in history (if it works.)
            The freedom to buy things. And to make money from your creations.
          </p>
          <a href="/#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section>