<section id="about" class="about">
    <div class="container aos-init" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            We are a team of talent individuals coming together after entering a hackathon
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>Across many lands in the world</li>
            <li><i class="ri-check-double-line"></i> All with amazing skillsets and ideas</li>
            <li><i class="ri-check-double-line"></i> Its astounding what we can build together</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a href="/#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section>