<section id="cta" class="cta">
    <div class="container aos-init" data-aos="zoom-in">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Call To Action</h3>
          <p> To all developers designers and anyone that wants to get involved please find us on our github.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="/#">Call To Action</a>
        </div>
      </div>

    </div>
  </section>